:root {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: currentColor;
}

figcaption {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 100%;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

.service .container {
  padding: 118px 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.article .container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 30px;
  max-width: 768px;
}

.team .container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.clients .container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
  .page-header .container {
    min-height: 80px;
  }
  .article .container {
    padding-top: 60px;
    padding-bottom: 45px;
    max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
  .service .container {
    padding: 200px 0;
    height: auto;
  }
  .article .container {
    padding-top: 94px;
    padding-bottom: 47px;
  }
  .about .container {
    padding-top: 47px;
    padding-bottom: 94px;
  }
  .team .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients .container {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
  }
}

.main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.icon {
  display: inline-block;
  fill: currentColor;
}

.contact__icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.social-icon {
  display: flex;
  width: 20px;
  height: 20px;
  color: #AFB1B8;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  margin: 16px 32px;
}

.close__icon {
  width: 11px;
  height: 11px;
}

.form__icon {
  height: 18px;
  width: 18px;
}

.icon-menu {
  width: 100%;
  height: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-menu__button {
  margin-left: auto;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: #ffffff;
  cursor: pointer;
}

.icon-menu:hover, .icon-menu:focus {
  color: #2196f3;
}

@media (min-width: 768px) {
  .icon-menu__button {
    display: none;
  }
}

.btn {
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn--blue {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
}

.btn__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__accent--blue {
  color: #2196f3;
}

.logo__accent--white {
  color: #ffffff;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  transition-property: opacity, visibility;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.mobile-menu--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media (min-width: 768px) {
  .mobile-menu {
    visibility: hidden;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  display: flex;
}

.navigation__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.navigation__item {
  position: relative;
}

.navigation__item:not(:last-child) {
  margin-right: 46px;
}

.navigation__item--active-page {
  color: #2196f3;
}

.navigation__link {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 45px;
  background: #2196f3;
  border-radius: 2px;
  transform: scale(0, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover:after {
  transform: scale(1, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.contact__list {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .contact__list {
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .navigation__list {
    min-width: 200px;
    max-width: 254px;
    margin-left: 50px;
  }
  .contact__list {
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: flex-end;
  }
  .contact__item {
    margin-top: 5px;
  }
  .contact__item:last-child {
    margin-right: 27px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__list {
    min-width: 254px;
  }
}

.menu__item .menu__link--current {
  color: #2196f3;
}

.menu-list {
  margin-bottom: 302px;
}

.menu__link {
  line-height: 1.175;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__item {
  margin-top: 32px;
}

.contacts {
  display: none;
}

.contacts__link {
  display: inline-block;
  font-size: 24px;
  line-height: 1.172;
}

.contacts__link--accent {
  color: #2196f3;
  font-size: 34px;
  margin-bottom: 32px;
}

.mobile-socials {
  display: flex;
  align-items: flex-start;
}

.mobile-socials__item {
  font-size: 18px;
  color: #2196f3;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-socials__item:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
}

.mobile-socials__item:not(:last-child) {
  padding-right: 10px;
}

.mobile-contacts {
  text-align: left;
  margin-bottom: 64px;
}

.service {
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/background_mobile480x400.jpg");
  background-color: #2f303a;
  background-size: cover;
}

.service__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.616;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  width: 365px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.service__btn {
  margin: 0 auto;
  display: block;
  text-align: center;
  align-items: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .service {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/background_mobile960x800.jpg");
    background-size: cover;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .service {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/background_tablet768x400.jpg");
    background-size: cover;
  }
}

@media (min-width: 480px) and (max-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 480px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 480px) and (max-width: 768px) and (min-resolution: 192dpi), (min-width: 480px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .service {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/background_tablet1536x800.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .service {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/background1600x600.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .service {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/background3200x1200.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .service {
    min-width: 1200px;
    max-width: 1600px;
  }
  .service__title {
    font-size: 44px;
    line-height: 1.364;
    width: 696px;
  }
}

.article {
  padding-bottom: 0;
}

.article__list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.article__item:first-of-type {
  margin: 0 0 15px;
}

.article__item:nth-child(2) {
  margin: 15px 0;
}

.article__item:nth-child(3) {
  margin: 15px 0;
}

.article__item:last-of-type {
  margin: 0 15px 0;
}

.article__icon {
  height: 70px;
  width: 70px;
  margin: 25px 100px;
}

.article__icon-wrapper {
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.article__title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.143;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: center;
}

.article__text {
  font-size: 14px;
  color: #757575;
  margin: 10px 0 0;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .article__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .article__item {
    flex-basis: calc(100% / 2 - 15px);
  }
  .article__item:first-of-type {
    margin: 0 15px 15px 0;
  }
  .article__item:nth-child(2) {
    margin: 0 0 15px 15px;
  }
  .article__item:nth-child(3) {
    margin: 15px 15px 0 0;
  }
  .article__item:last-of-type {
    margin: 15px 0 0 15px;
  }
  .article__title {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .article__icon-wrapper {
    display: flex;
  }
  .article__list {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .article__item {
    flex-basis: calc(100%/4);
  }
  .article__item:first-of-type {
    margin-right: 15px;
  }
  .article__item:nth-child(2) {
    margin: 0 15px;
  }
  .article__item:nth-child(3) {
    margin: 0 15px;
  }
  .article__item:last-of-type {
    margin-left: 15px;
  }
  .article__title {
    display: flex;
  }
}

.about {
  display: none;
}

.about .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.about__list {
  display: flex;
  padding-top: 50px;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.143;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  height: 70px;
  padding: 27px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    display: flex;
  }
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item__img {
  width: 100%;
}

.team__person {
  width: 270px;
}

.team__person--name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__person--position {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.team-socials__list {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 18px;
}

.team-socials__item {
  display: flex;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials__item:hover, .team-socials__item:focus {
  background: #2196f3;
}

.team-socials__item:hover .social-icon,
.team-socials__item:focus .social-icon {
  color: #ffffff;
}

.team-socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 0;
  }
  .team__item {
    max-width: 270px;
    margin-left: 0;
  }
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.clients__item {
  width: 210px;
  box-sizing: border-box;
  height: 92px;
  border: 1px solid #757575;
  border-radius: 4px;
  color: #AFB1B8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients__item:not(:nth-child(-n+2)) {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .clients__item:not(:nth-child(2n)) {
    margin-right: 15px;
  }
  .clients__item:not(:nth-child(2n+1)) {
    margin-left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .clients__item {
    flex-basis: calc(100%/3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer {
  background: #2f303a;
}

.footer__wrapper {
  margin-right: 70px;
}

.adress__list {
  font-style: normal;
  padding-top: 20px;
}

.adress__item {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__item > [href^='mailto'] {
  text-decoration-line: underline;
}

.adress__contact {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__contact:hover, .adress__contact:focus {
  color: #2196f3;
}

.footer-socials {
  margin-right: 78px;
}

.footer-socials__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 20px;
}

.footer-socials__list {
  display: flex;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background: #2196f3;
}

.footer-socials__icon {
  color: #ffffff;
}

.newsletter {
  margin-right: auto;
}

.newsletter__form {
  display: flex;
  align-items: flex-end;
}

.newsletter__label:hover > input,
.newsletter__label:focus > input,
.newsletter__label:focus-within > input {
  border: 1px solid #2196f3;
  outline: none;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 20px;
}

.newsletter__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 12px;
}

.newsletter__input:placeholder-shown {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.newsletter__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 24px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  opacity: 1;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.modal__btn--submit {
  margin: 0 auto;
  display: block;
  text-align: center;
  align-items: center;
}

.form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form__label:focus-within {
  color: #2196f3;
}

.form__label:focus-within > svg,
.form__label:hover > svg {
  fill: #2196f3;
}

.form__span {
  letter-spacing: 0.01em;
  color: #757575;
  font-size: 12px;
  line-height: 1.166;
  margin-bottom: 4px;
}

.form__text {
  height: 40px;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__text:hover, .form__text:focus-within, .form__text:focus {
  outline: none;
  border: 1px solid #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.form__textarea {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.form__textarea::placehoder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:hover, .form__textarea:focus-within, .form__textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__input {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.policy__input--checkbox {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #212121;
  border-radius: 2px;
  appearance: none;
  cursor: pointer;
}

.policy__input--checkbox:checked {
  background-image: url(../images/icon-checked.svg);
  background-color: #2196f3;
  border-color: #2196f3;
}

.policy__text {
  color: #757575;
}

.policy__link {
  color: #2196f3;
  text-decoration: underline;
  text-transform: capitalize;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.nav__btn {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  margin: 0 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__btn:hover, .nav__btn:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.portfolio {
  padding: 0;
  justify-items: space-between;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  display: inline-block;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio__item:nth-child(-n+6) {
  margin-bottom: 15px;
}

.portfolio__item:nth-child(1n+4) {
  margin-top: 15px;
}

.portfolio__item:nth-child(3n+1) {
  margin-right: 15px;
}

.portfolio__item:nth-child(3n+2) {
  margin-left: 15px;
  margin-right: 15px;
}

.portfolio__item:nth-child(3n+3) {
  margin-left: 15px;
}

.portfolio__item:hover .portfolio__overlay {
  transform: translatex(0);
}

.portfolio__overlay {
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
  padding-bottom: 4px;
}

.portfolio__overlay--text {
  color: #757575;
  margin: 0 auto;
  line-height: 1.875;
}

.portfolio__caption {
  display: block;
  box-sizing: border-box;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio__caption--title {
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
  padding-bottom: 4px;
}

.portfolio__caption--text {
  color: #757575;
  margin: 0 auto;
  line-height: 1.875;
}

.portfolio__img--box {
  position: relative;
  overflow: hidden;
  margin: auto;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay--text {
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.556;
  padding: 49px 24px;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */