.footer {
    background: $rock;
}

.adress {

    &__list {
        font-style: normal;
        padding-top: 20px;
    }

    &__item {
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: $white;

        &:not(:first-child) {
            padding-top: 9px;
        }
    
        &>[href^='mailto'] {
            text-decoration-line: underline;
        }
    }

    &__contact {
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: $grey;
        transition: color $shift;

        &:hover,
        &:focus {
            color: $blue;
        }
    }
}

.footer-socials {
    margin-top: 60px;

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white;
        padding-top: 12px;
        padding-bottom: 20px;
    }

    &__list {
        display: flex;
    }

    &__link {
        display: flex;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        align-items: center;
        justify-content: center;

        transition: background-color $shift;

        &:hover,
        &:focus {
            background: $blue;
        }
    }

    &__item:not(:last-child) {
        margin-right: 10px;
    }
}

.newsletter {
    margin-top: 60px;
    width: 100%;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        text-transform: uppercase;
        color: $white;
        padding-top: 12px;
        padding-bottom: 20px;
    }

    &__input {
        height: 50px;
        width: 450px;
        padding: 15px 16px;
        letter-spacing: 0.03em;
        color: $white;
        background-color: transparent;
            
        border: 1px solid $blue;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;

        &:placeholder-shown {
            border: 1px solid rgba(255, 255, 255, 0.3);
        }
    }

    &__btn {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .footer {

        & .container {
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-content: flex-start;
        }

        &-socials {
            margin-top: 0;
            align-self: flex-start;
        }

        &.newsletter {
            flex-grow: 1;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        display: flex;

        & .container {
            text-align: left;
        }

        &-socials {
            margin-top: 0;
        }
    }

    .newsletter {
        width: auto;
        margin-top: 0;

        &__form {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }

        &__input {
            width: 358px;
            height: 50px;
            margin-right: 12px;
        }

        &__btn {
            display: flex;
            align-items: center;
            margin-top: 0;
        }
    }
}

