.nav{

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    }

    &__btn {
        background: $ghost;
        border-radius: 4px;
        border: none;
        padding: 6px 22px;
        margin: 0 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background: $blue;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
            color: $white;
        }
    }
}

.portfolio {
    padding: 0;
    justify-items: space-between;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: inline-block;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
            cursor: pointer;
        }

        &:nth-child(-n+6) {
            margin-bottom: 15px;
        }
        
        &:nth-child(1n+4) {
            margin-top: 15px;
        }
        
        &:nth-child(3n+1) {
            margin-right: 15px;
        }
        
        &:nth-child(3n+2) {
            margin-left: 15px;
            margin-right: 15px;
        }
        
        &:nth-child(3n+3) {
            margin-left: 15px;
        }

        &:hover .portfolio__overlay {
            transform: translatex(0);
        }
    }

    &__overlay {
        font-weight: 700;
        letter-spacing: 0.06em;
        font-size: 18px;
        line-height: 2;
        padding-bottom: 4px;

        &--text{
            color: $silver;
            margin: 0 auto;
            line-height: 1.875;
        }
    }

    &__caption {
        display: block;
        box-sizing: border-box;
        border-left: 1px solid $shade;
        border-bottom: 1px solid $shade;
        border-right: 1px solid $shade;
        padding: 20px 24px;

        &--title {
            font-weight: 700;
            letter-spacing: 0.06em;
            font-size: 18px;
            line-height: 2;
            padding-bottom: 4px;
        }

        &--text {
            color: $silver;
            margin: 0 auto;
            line-height: 1.875;
        }
    }

    &__img--box {
        position: relative;
        overflow: hidden;
        margin: auto;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $dodger;
        
        transform: translatey(100%);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &--text {
            font-weight: 400;
            color: $white;
            font-size: 18px;
            line-height: 1.556;
            padding: 49px 24px;
            margin: 0;
            }
        }
}